.row {
  text-align: right;
  .btn-create {
    margin-top: 10px;
  }
}
.table-container {
  padding-top: 20px;
  .name-row {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
  }
  .btn-remove {
    height: 30px;
    font-size: 12px;
  }
}
