.details-container {
  padding-top: 30px;
  .title {
    padding-bottom: 30px;
    text-align: center;
  }
  .property {
    color: #929191;
    padding-right: 5px;
  }
  .btn {
    width: 100px;
    margin-bottom: 20px;
  }
}
agm-map {
  height: 500px;
}
